* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 1rem;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

main {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

img {
  width: 100%;
}

#dog-image-container {
  width: 500px;
}

button {
  width: fit-content;
  padding: 10px 20px;
  background-color: dodgerblue;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: rgb(21, 98, 175);
}

.error {
  color: red;
}